This notebook is used to extractor the necessary data for Salary Prediction from 2020 Stack Overflow Annual Developer Survey 

https://insights.stackoverflow.com/survey

In [1]:
import pandas as pd
import numpy as np

NOTE: Make sure **Data/source/** folder has the survey data downloaded using **Scripts/download_survey_data.py --all** script

### 2020 Stack Overflow User Survey

In [2]:
survey_res = pd.read_csv("../Data/source/2020.csv", sep=",", encoding='Latin-1', low_memory=False)

In [3]:
print(f"Number of responses to the survey in 2020: {survey_res.shape[0]}")

Number of responses to the survey in 2020: 64461

In [4]:
survey_res.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [6]:
# Extract the Country 
survey_res_flt = pd.DataFrame()
survey_res_flt["country"] = survey_res["Country"]

# Extract student information 
survey_res_flt["student"] = survey_res["MainBranch"]

# Extract employment status
survey_res_flt["employment_status"] = survey_res["Employment"]

# Extract employment status
survey_res_flt["formal_education"] = survey_res["EdLevel"]

# Extract company size ~ Number of developers
survey_res_flt["company_size"] = survey_res["Size"]

# Extract occupation 
survey_res_flt["occupation"] = survey_res["DevType"]

# Extract years of IT/programing experience
survey_res_flt["IT_experience_in_years"] = survey_res["YearsCode"]

# Extract years of IT/programing experience Professional
survey_res_flt["IT_experience_in_years_job"] = survey_res["YearsCodingPro"]

# Extract job satisfaction 
survey_res_flt["job_satisfaction"] = survey_res["JobSat"]

# Extract compensation
survey_res_flt["compensation"] = survey_res["CompTotal"]

# Extract programming language/technology 
survey_res_flt["proficient_languages"] = survey_res["LanguageWorkedWith"].apply(lambda x: x.split(";") if not isinstance(x, float) else x)

# Extract programming language/technology 
survey_res_flt["database_worked_on"] = survey_res["DatabaseWorkedWith"].apply(lambda x: x.split(";") if not isinstance(x, float) else x)

# Extract programming language/technology 
survey_res_flt["platform_worked_on"] = survey_res["PlatformWorkedWith"].apply(lambda x: x.split(";") if not isinstance(x, float) else x)

# Extract programming language/technology 
survey_res_flt["framework_worked_on"] = survey_res["WebframeWorkedWith"].apply(lambda x: x.split(";") if not isinstance(x, float) else x)

# Extract the desktop operating system used 
survey_res_flt["desktop_OS"] = survey_res["OpSys"]

# Extract time spent on work 
survey_res_flt["work_hours"] = survey_res["WorkWeekHrs"]

# Extract Age
survey_res_flt["age"] = survey_res["Age"]

#Extract gender
survey_res_flt["gender"] = survey_res["Gender"]

KeyError: 'CompanySize'

In [7]:
# Extract stackoverflow reputation 
survey_res_flt["stackoverflow_account_holder"] = survey_res["StackOverflowHasAccount"]

# Extract stackoverflow reputation 
survey_res_flt["stackoverflow_participation"] = survey_res["StackOverflowParticipate"]

KeyError: 'StackOverflowHasAccount'

In [9]:
survey_res_flt.head()

,country,student,employment_status,formal_education,company_size,occupation,IT_experience_in_years,job_satisfaction,compensation,proficient_languages,database_worked_on,platform_worked_on,framework_worked_on,desktop_OS,work_hours,age,gender,stackoverflow_account_holder,stackoverflow_participation
0,Kenya,No,Employed part-time,"Bachelorâs degree (BA, BS, B.Eng., etc.)",20 to 99 employees,Full-stack developer,3-5 years,Extremely satisfied,NaN,"[JavaScript, Python, HTML, CSS]","[Redis, SQL Server, MySQL, PostgreSQL, Amazon ...","[AWS, Azure, Linux, Firebase]","[Django, React]",Linux-based,9 - 12 hours,25 - 34 years old,Male,Yes,I have never participated in Q&A on Stack Over...
1,United Kingdom,No,Employed full-time,"Bachelorâs degree (BA, BS, B.Eng., etc.)","10,000 or more employees",Database administrator;DevOps specialist;Full-...,18-20 years,Moderately dissatisfied,70841.0,"[JavaScript, Python, Bash/Shell]","[Redis, PostgreSQL, Memcached]",[Linux],[Django],Linux-based,5 - 8 hours,35 - 44 years old,Male,Yes,A few times per month or weekly
2,United States,No,Employed full-time,Associate degree,20 to 99 employees,Engineering manager;Full-stack developer,6-8 years,Moderately satisfied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United States,No,Employed full-time,"Bachelorâs degree (BA, BS, B.Eng., etc.)",100 to 499 employees,Full-stack developer,12-14 years,Neither satisfied nor dissatisfied,NaN,"[C#, JavaScript, SQL, TypeScript, HTML, CSS, B...","[SQL Server, Microsoft Azure (Tables, CosmosDB...",[Azure],NaN,Windows,9 - 12 hours,35 - 44 years old,Male,Yes,A few times per month or weekly
4,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"10,000 or more employees",Data or business analyst;Desktop or enterprise...,0-2 years,Slightly satisfied,21426.0,"[C, C++, Java, Matlab, R, SQL, Bash/Shell]","[SQL Server, PostgreSQL, Oracle, IBM Db2]","[Arduino, Windows Desktop or Server]",NaN,Windows,Over 12 hours,18 - 24 years old,Male,Yes,Less than once per month or monthly

In [10]:
survey_res_flt.to_csv("../Data/filtered/2020.csv", index=False)