In [144]:
import pandas as pd
import numpy as np
import math
import random

In [2]:
df_11 = pd.read_csv("../Data/filtered/2011.csv", sep=",", encoding='Latin-1', low_memory=False)
df_12 = pd.read_csv("../Data/filtered/2012.csv", sep=",", encoding='Latin-1', low_memory=False)
df_13 = pd.read_csv("../Data/filtered/2013.csv", sep=",", encoding='Latin-1', low_memory=False)
df_14 = pd.read_csv("../Data/filtered/2014.csv", sep=",", encoding='Latin-1', low_memory=False)
df_15 = pd.read_csv("../Data/filtered/2015.csv", sep=",", encoding='Latin-1', low_memory=False)
df_16 = pd.read_csv("../Data/filtered/2016.csv", sep=",", encoding='Latin-1', low_memory=False)
df_17 = pd.read_csv("../Data/filtered/2017.csv", sep=",", encoding='Latin-1', low_memory=False)
df_18 = pd.read_csv("../Data/filtered/2018.csv", sep=",", encoding='Latin-1', low_memory=False)
df_19 = pd.read_csv("../Data/filtered/2019.csv", sep=",", encoding='Latin-1', low_memory=False)
df_20 = pd.read_csv("../Data/filtered/2020.csv", sep=",", encoding='Latin-1', low_memory=False)
df_21 = pd.read_csv("../Data/filtered/2021.csv", sep=",", encoding='Latin-1', low_memory=False)

In [166]:
all_data = {2011: df_11, 
            2012: df_12, 
            2013: df_13, 
            2014: df_14, 
            2015: df_15, 
            2016: df_16, 
            2017: df_17, 
            2018: df_18, 
            2019: df_19, 
            2020: df_20, 
            2021: df_21}

for key, val in all_data.items():
    print(f"{key} : {list(val.columns)}")
    print("------------------------------------------------------------------------------------------------")
    print("  ")

2011 : ['compensation', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction', 'year']
------------------------------------------------------------------------------------------------

2012 : ['compensation', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction', 'year']
------------------------------------------------------------------------------------------------

2013 : ['compensation', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction', 'year']
------------------------------------------------------------------------------------------------

2014 : ['compensation', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction', 'year']
------------------------------------------------------------------------------------------------

2015 : ['compensation', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction', 'year']
------------------------------------------------------------------------------------------------

2016 : ['compensation', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction', 'year']
------------------------------------------------------------------------------------------------

2017 : ['compensation', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction', 'year']
------------------------------------------------------------------------------------------------

2018 : ['compensation', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction', 'year']
------------------------------------------------------------------------------------------------

2019 : ['compensation', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction', 'year']
------------------------------------------------------------------------------------------------

2020 : ['compensation', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction', 'year']
------------------------------------------------------------------------------------------------

2021 : ['compensation', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction', 'year']
------------------------------------------------------------------------------------------------

### Attributes Verification

**1.Country**

All the years has country information will be used as is 

**2.Age** 

2016 has both age rage and specific age value, since most of the years has rage retaining the range as teh values

2017 has no age column will be imputed as number of years of experience+22 as 22 is the minimum age once attains after degree

In [141]:
df_16['age'] = df_16['age_range']

In [142]:
age_map_17 = dict()
base_age = 22
for val in list(df_17['IT_experience_in_years'].unique()):
    if str(val) != 'nan': 
        least_exp = val.split(" ")[0]
        age_map_17[val] = int(least_exp)+base_age if least_exp.isnumeric() else 1+base_age 
age_map_17['nan'] = None
df_17['age'] = df_17['IT_experience_in_years']
df_17['age']= df_17['age'].map(age_map_17)

**3.IT_experience_in_years**

2016 : Range will be considered

In [143]:
df_16["IT_experience_in_years"] = df_16["IT_experience_in_years_range"]

**Industry**

Is available only for 2011, 2012, 2013, 2014, 2015, 2016 (6 years) and missing in 5 years which would be hard to impute hence dropping this column

**4.Company_size**

2015: Data needs to be imputed for now all the values will be marked as unknown

All the years has company size information will be used as is

In [162]:
df_15['company_size'] = 'unknown'

**5.Occupation**

All the years has company size information will be used as is 

**Current_development_project**

This information is available only in 2011 and 2012 and their values are not significant for our analysis hence dropping the column

**6.Proficient_languages** 

This columns has list of langugages for all the years hence will be used as is

**7.Desktop_OS**

2017 desktoop information is captured as part of platform worked will be imputed using that information

In [130]:
desktop_possible_values = ['Linux-based', 'MacOS', 'Windows']

In [131]:
df_17["desktop_OS"] = df_17["platform_worked_on"]

In [132]:
stupid = []
def get_desktop_os(platform_list):  
    try:
        if len(platform_list) == 0:        
            return np.nan    
        else:
            if platform_list in desktop_possible_values:
                return platform_list
            else:
                return np.nan
    except:
        return np.nan

In [133]:
df_17['desktop_OS'] = df['desktop_OS'].map(get_desktop_os)

**8.Job_satisfaction**

This attribute is available only for 7 years For the years where this attribute is not available will be marked as unknown

In [140]:
df_14["job_satisfaction"] = 'unknown'
df_15["job_satisfaction"] = 'unknown'
df_16["job_satisfaction"] = 'unknown'
df_21["job_satisfaction"] = 'unknown'

**9.Gender** 

This attribute is missed for 2011, 2012, 2013. Imputing the missing values based on industry standards

In [148]:
numberList = ['Female','Male', 'Other']

df_11["gender"] = random.choices(numberList, weights=(28,70, 2), k=df_11.shape[0])
df_12["gender"] = random.choices(numberList, weights=(28,70, 2), k=df_12.shape[0])
df_13["gender"] = random.choices(numberList, weights=(28,70, 2), k=df_13.shape[0])

**10.Compensation**

2016 There is range and mid value for salary would be considering range as compensation

In [151]:
df_16["compensation"] = df_16["salary_range"]

## Merge all the years

In [153]:
df_11["year"] = 2011
df_12["year"] = 2012
df_13["year"] = 2013
df_14["year"] = 2014
df_15["year"] = 2015
df_16["year"] = 2016
df_17["year"] = 2017
df_18["year"] = 2018
df_19["year"] = 2019
df_20["year"] = 2020
df_21["year"] = 2021

In [171]:
columns_list = ['compensation', 'year', 'country', 'age', 'gender', 'IT_experience_in_years', 
                'company_size',  'occupation', 'proficient_languages', 'desktop_OS', 
                'job_satisfaction']

# Filter the dataframe by listed columns 
df_11 = df_11[columns_list]
df_12 = df_12[columns_list]
df_13 = df_13[columns_list]
df_14 = df_14[columns_list]
df_15 = df_15[columns_list]
df_16 = df_16[columns_list]
df_17 = df_17[columns_list]
df_18 = df_18[columns_list]
df_19 = df_19[columns_list]
df_20 = df_20[columns_list]
df_21 = df_21[columns_list]

In [172]:
all_data = {2011: df_11, 
            2012: df_12, 
            2013: df_13, 
            2014: df_14, 
            2015: df_15, 
            2016: df_16, 
            2017: df_17, 
            2018: df_18, 
            2019: df_19, 
            2020: df_20, 
            2021: df_21}

for key, val in all_data.items():
    print(f"{key} : {list(val.columns)}")
    print("------------------------------------------------------------------------------------------------")
    print("  ")

2011 : ['compensation', 'year', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction']
------------------------------------------------------------------------------------------------

2012 : ['compensation', 'year', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction']
------------------------------------------------------------------------------------------------

2013 : ['compensation', 'year', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction']
------------------------------------------------------------------------------------------------

2014 : ['compensation', 'year', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction']
------------------------------------------------------------------------------------------------

2015 : ['compensation', 'year', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction']
------------------------------------------------------------------------------------------------

2016 : ['compensation', 'year', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction']
------------------------------------------------------------------------------------------------

2017 : ['compensation', 'year', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction']
------------------------------------------------------------------------------------------------

2018 : ['compensation', 'year', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction']
------------------------------------------------------------------------------------------------

2019 : ['compensation', 'year', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction']
------------------------------------------------------------------------------------------------

2020 : ['compensation', 'year', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction']
------------------------------------------------------------------------------------------------

2021 : ['compensation', 'year', 'country', 'age', 'gender', 'IT_experience_in_years', 'company_size', 'occupation', 'proficient_languages', 'desktop_OS', 'job_satisfaction']
------------------------------------------------------------------------------------------------

In [174]:
master_df = pd.concat(list(all_data.values()), ignore_index=True)

In [176]:
master_df.to_csv("../Data/filtered/master-data.csv", index=False)

In [177]:
print(master_df.shape)

(495587, 11)