This notebook is used to extractor the necessary data for Salary Prediction from 2016 Stack Overflow Annual Developer Survey 

https://insights.stackoverflow.com/survey

In [1]:
import pandas as pd
import numpy as np

NOTE: Make sure **Data/source/** folder has the survey data downloaded using **Scripts/download_survey_data.py --all** script

### 2016 Stack Overflow User Survey

In [2]:
survey_res = pd.read_csv("../../Data/source/2016.csv", sep=",",header = 0, encoding='Latin-1', )

In [3]:
print(f"Number of responses to the survey in 2016: {survey_res.shape[0]}")

Number of responses to the survey in 2016: 56030

In [4]:
# preview of the data

survey_res.head()

,Unnamed: 0,collector,country,un_subregion,so_region,age_range,age_midpoint,gender,self_identification,occupation,...,important_sameend,important_newtech,important_buildnew,important_buildexisting,important_promotion,important_companymission,important_wfh,important_ownoffice,developer_challenges,why_stack_overflow
0,1888,Facebook,Afghanistan,Southern Asia,Central Asia,20-24,22.0,Male,Programmer,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4637,Facebook,Afghanistan,Southern Asia,Central Asia,30-34,32.0,Male,Developer; Engineer; Programmer,Mobile developer - iOS,...,This is somewhat important,This is very important,This is very important,I don't care about this,This is somewhat important,This is somewhat important,I don't care about this,I don't care about this,Unrealistic expectations; Interacting with non...,To get help for my job; Because I can't do my ...
2,11164,Facebook,Afghanistan,Southern Asia,Central Asia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21378,Facebook,Afghanistan,Southern Asia,Central Asia,NaN,NaN,Female,Engineer,DevOps,...,I don't care about this,This is somewhat important,This is very important,This is very important,I don't care about this,I don't care about this,This is very important,This is somewhat important,Corporate policies; Interacting with non-techn...,To get help for my job; Beacause I love to learn
4,30280,Facebook,Afghanistan,Southern Asia,Central Asia,> 60,65.0,Prefer not to disclose,Developer; Engineer; Programmer; Sr. Developer...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
survey_res.columns

Index(['Unnamed: 0', 'collector', 'country', 'un_subregion', 'so_region',
       'age_range', 'age_midpoint', 'gender', 'self_identification',
       'occupation', 'occupation_group', 'experience_range',
       'experience_midpoint', 'salary_range', 'salary_midpoint',
       'big_mac_index', 'tech_do', 'tech_want', 'aliens',
       'programming_ability', 'employment_status', 'industry',
       'company_size_range', 'team_size_range', 'women_on_team', 'remote',
       'job_satisfaction', 'job_discovery', 'dev_environment',
       'commit_frequency', 'hobby', 'dogs_vs_cats', 'desktop_os',
       'unit_testing', 'rep_range', 'visit_frequency', 'why_learn_new_tech',
       'education', 'open_to_new_job', 'new_job_value', 'job_search_annoyance',
       'interview_likelihood', 'how_to_improve_interview_process',
       'star_wars_vs_star_trek', 'agree_tech', 'agree_notice',
       'agree_problemsolving', 'agree_diversity', 'agree_adblocker',
       'agree_alcohol', 'agree_loveboss', 'agree_nightcode', 'agree_legacy',
       'agree_mars', 'important_variety', 'important_control',
       'important_sameend', 'important_newtech', 'important_buildnew',
       'important_buildexisting', 'important_promotion',
       'important_companymission', 'important_wfh', 'important_ownoffice',
       'developer_challenges', 'why_stack_overflow'],
      dtype='object')

In [6]:
# Extract the Country 

survey_res_flt = pd.DataFrame()
survey_res_flt["country"] = survey_res["country"]

# Extract Age
survey_res_flt["age_range"] = survey_res["age_range"]

# Extract Age
survey_res_flt["age_mp"] = survey_res["age_midpoint"]

#Extract gender
survey_res_flt["gender"] = survey_res["gender"]

# Extract years of IT/programing experience
survey_res_flt["IT_experience_in_years_range"] = survey_res["experience_range"]

# Extract years of IT/programing experience mid point
survey_res_flt["IT_experience_in_years_mp"] = survey_res["experience_midpoint"]

# Extract occupation 
survey_res_flt["occupation"] = survey_res["occupation"]

# Extract salary range
survey_res_flt["salary_range"] = survey_res["salary_range"]

# Extract salary midpoint
survey_res_flt["salary_midpoint"] = survey_res["salary_midpoint"]

# Extract company size
survey_res_flt["company_size"] = survey_res["company_size_range"]

# Extract tech team size
survey_res_flt["team_size"] = survey_res["team_size_range"]

# Extract remote work details 
survey_res_flt["remotely_work_frequency"] = survey_res["remote"]

# Extract time spent on work 
survey_res_flt["work_hours_hobby"] = survey_res["hobby"]

# Extract programming language/technology 
survey_res_flt["proficient_languages"] = survey_res["tech_do"]

In [7]:
# Extract the desktop operating system used 
survey_res_flt["desktop_OS"] = survey_res["desktop_os"]

# Extract job switch frequency 
survey_res_flt["job_searching"] = survey_res["open_to_new_job"]

In [8]:
survey_res_flt.head()

,country,age_range,age_mp,gender,IT_experience_in_years_range,IT_experience_in_years_mp,occupation,salary_range,salary_midpoint,company_size,team_size,remotely_work_frequency,work_hours_hobby,proficient_languages,desktop_OS,job_searching
0,Afghanistan,20-24,22.0,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,30-34,32.0,Male,6 - 10 years,8.0,Mobile developer - iOS,"$40,000 - $50,000",45000.0,100-499 employees,15-20 people,I rarely work remotely,1-2 hours per week,iOS; Objective-C,Mac OS X,I am not interested in new job opportunities
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,NaN,NaN,Female,11+ years,13.0,DevOps,"Less than $10,000",5000.0,100-499 employees,1-4 people,Part-time remote,2-5 hours per week,NaN,Other Linux,"I'm not actively looking, but I am open to new..."
4,Afghanistan,> 60,65.0,Prefer not to disclose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
survey_res_flt.to_csv("../../Data/filtered/2016.csv", index=False)