This notebook is used to extractor the necessary data for Salary Prediction from 2018 Stack Overflow Annual Developer Survey 

https://insights.stackoverflow.com/survey

In [2]:
import pandas as pd
import numpy as np

NOTE: Make sure **Data/source/** folder has the survey data downloaded using **Scripts/download_survey_data.py --all** script

### 2018 Stack Overflow User Survey

In [4]:
survey_res = pd.read_csv("../../Data/source/2018.csv", sep=",", encoding='Latin-1', low_memory=False)

In [5]:
print(f"Number of responses to the survey in 2018: {survey_res.shape[0]}")

Number of responses to the survey in 2018: 98855

In [6]:
survey_res.head()

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Exercise,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelorâs degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelorâs degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelorâs degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelorâs degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
2,4,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,No,No,United States,No,Employed full-time,"Bachelorâs degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,...,I don't typically exercise,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,3 - 4 times per week,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy

In [7]:
# Extract the Country 
survey_res_flt = pd.DataFrame()
survey_res_flt["country"] = survey_res["Country"]

# Extract student information 
survey_res_flt["student"] = survey_res["Student"]

# Extract employment status
survey_res_flt["employment_status"] = survey_res["Employment"]

# Extract employment status
survey_res_flt["formal_education"] = survey_res["FormalEducation"]

# Extract company size ~ Number of developers
survey_res_flt["company_size"] = survey_res["CompanySize"]

# Extract occupation 
survey_res_flt["occupation"] = survey_res["DevType"]

# Extract years of IT/programing experience
survey_res_flt["IT_experience_in_years"] = survey_res["YearsCodingProf"]

# Extract job satisfaction 
survey_res_flt["job_satisfaction"] = survey_res["JobSatisfaction"]

# Extract compensation
survey_res_flt["compensation"] = survey_res["ConvertedSalary"]

# Extract programming language/technology 
survey_res_flt["proficient_languages"] = survey_res["LanguageWorkedWith"].apply(lambda x: x.split(";") if not isinstance(x, float) else x)

# Extract programming language/technology 
survey_res_flt["database_worked_on"] = survey_res["DatabaseWorkedWith"].apply(lambda x: x.split(";") if not isinstance(x, float) else x)

# Extract programming language/technology 
survey_res_flt["platform_worked_on"] = survey_res["PlatformWorkedWith"].apply(lambda x: x.split(";") if not isinstance(x, float) else x)

# Extract programming language/technology 
survey_res_flt["framework_worked_on"] = survey_res["FrameworkWorkedWith"].apply(lambda x: x.split(";") if not isinstance(x, float) else x)

# Extract the desktop operating system used 
survey_res_flt["desktop_OS"] = survey_res["OperatingSystem"]

# Extract time spent on work 
survey_res_flt["work_hours"] = survey_res["HoursComputer"]

# Extract Age
survey_res_flt["age"] = survey_res["Age"]

#Extract gender
survey_res_flt["gender"] = survey_res["Gender"]

In [8]:
# Extract stackoverflow reputation 
survey_res_flt["stackoverflow_account_holder"] = survey_res["StackOverflowHasAccount"]

# Extract stackoverflow reputation 
survey_res_flt["stackoverflow_participation"] = survey_res["StackOverflowParticipate"]

In [9]:
survey_res_flt.head()

,country,student,employment_status,formal_education,company_size,occupation,IT_experience_in_years,job_satisfaction,compensation,proficient_languages,database_worked_on,platform_worked_on,framework_worked_on,desktop_OS,work_hours,age,gender,stackoverflow_account_holder,stackoverflow_participation
0,Kenya,No,Employed part-time,"Bachelorâs degree (BA, BS, B.Eng., etc.)",20 to 99 employees,Full-stack developer,3-5 years,Extremely satisfied,NaN,"[JavaScript, Python, HTML, CSS]","[Redis, SQL Server, MySQL, PostgreSQL, Amazon ...","[AWS, Azure, Linux, Firebase]","[Django, React]",Linux-based,9 - 12 hours,25 - 34 years old,Male,Yes,I have never participated in Q&A on Stack Over...
1,United Kingdom,No,Employed full-time,"Bachelorâs degree (BA, BS, B.Eng., etc.)","10,000 or more employees",Database administrator;DevOps specialist;Full-...,18-20 years,Moderately dissatisfied,70841.0,"[JavaScript, Python, Bash/Shell]","[Redis, PostgreSQL, Memcached]",[Linux],[Django],Linux-based,5 - 8 hours,35 - 44 years old,Male,Yes,A few times per month or weekly
2,United States,No,Employed full-time,Associate degree,20 to 99 employees,Engineering manager;Full-stack developer,6-8 years,Moderately satisfied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United States,No,Employed full-time,"Bachelorâs degree (BA, BS, B.Eng., etc.)",100 to 499 employees,Full-stack developer,12-14 years,Neither satisfied nor dissatisfied,NaN,"[C#, JavaScript, SQL, TypeScript, HTML, CSS, B...","[SQL Server, Microsoft Azure (Tables, CosmosDB...",[Azure],NaN,Windows,9 - 12 hours,35 - 44 years old,Male,Yes,A few times per month or weekly
4,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"10,000 or more employees",Data or business analyst;Desktop or enterprise...,0-2 years,Slightly satisfied,21426.0,"[C, C++, Java, Matlab, R, SQL, Bash/Shell]","[SQL Server, PostgreSQL, Oracle, IBM Db2]","[Arduino, Windows Desktop or Server]",NaN,Windows,Over 12 hours,18 - 24 years old,Male,Yes,Less than once per month or monthly

In [10]:
survey_res_flt.to_csv("../../Data/filtered/2018.csv", index=False)