In [1]:
import pandas as pd
import numpy as np

In [2]:
master_df = pd.read_csv("../../Data/filtered/master-data.csv",sep = ",", encoding = "Latin-1")

In [3]:
master_df.head()

,compensation,year,country,age,gender,IT_experience_in_years,company_size,occupation,proficient_languages,desktop_OS,job_satisfaction,GDP
0,20000-40000,2011,United States,18_to_24,male,2_to_5,below_100,"Executive (VP of Eng, CTO, CIO, etc.)","['JavaScript', 'CSS', 'PHP', 'Python', 'SQL', ...",Windows 7,5.0,50065.966504
1,80000-100000,2011,United States,18_to_24,male,6_to_10,1000_to_4999,Web Application Developer,"['JavaScript', 'CSS', 'PHP', 'SQL']",Linux,6.0,50065.966504
2,80000-100000,2011,Germany,35_to_44,male,above_11,500_to_999,Desktop Application Developer,['C#'],Windows 7,6.0,46705.895796
3,60000-80000,2011,United Kingdom,35_to_44,male,above_11,500_to_999,IT Staff / System Administrator,"['SQL', 'C#', 'C++', 'C']",Windows 7,6.0,42284.884490
4,40000-60000,2011,United Kingdom,25_to_34,female,above_11,below_100,Web Application Developer,"['JavaScript', 'Python', 'SQL', 'C++', 'C', 'P...",Linux,5.0,42284.884490

<!-- normalize  -->

In [4]:
master_df.desktop_OS.unique()

array(['Windows 7', 'Linux', 'Windows XP', 'Mac OS X', 'Windows Vista',
       nan, 'Other', 'Windows 8', 'Ubuntu', 'Fedora', 'Mint', 'Debian',
       'Other Linux', 'Windows 10', 'MacOS', 'Linux-based', 'Windows',
       'BSD/Unix', 'BSD', 'Other (please specify):',
       'Windows Subsystem for Linux (WSL)'], dtype=object)

In [5]:
# normalize desktop OS

pc = master_df.desktop_OS.fillna("OS_unkwown")

master_df["desktop_OS"] = pd.np.where(pc.str.contains("Windows"),"Windows",
                       pd.np.where(pc.str.contains("Linux"),"Linux",
                       pd.np.where(pc.str.contains("Mac"),"Mac",
                       pd.np.where(pc.str.contains("Windows"),"Windows-based",
                       pd.np.where(pc.str.contains("Fedora | Mint | Debian | Other Linux | Linux-based | Windows Subsystem for Linux (WSL)"),"Linux-based",
                       pd.np.where(pc.str.contains("BSD"),"Unix",
                       pd.np.where(pc.str.contains("Ubuntu"),"Ubuntu",
                       pd.np.where(pc.str.contains("Other"),"Other",master_df["desktop_OS"]))))))))

/var/folders/z7/l425_k291q1_z_mxzgktnp700000gn/T/ipykernel_6187/929709238.py:5: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  master_df["desktop_OS"] = pd.np.where(pc.str.contains("Windows"),"Windows",
/var/folders/z7/l425_k291q1_z_mxzgktnp700000gn/T/ipykernel_6187/929709238.py:6: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(pc.str.contains("Linux"),"Linux",
/var/folders/z7/l425_k291q1_z_mxzgktnp700000gn/T/ipykernel_6187/929709238.py:7: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(pc.str.contains("Mac"),"Mac",
/var/folders/z7/l425_k291q1_z_mxzgktnp700000gn/T/ipykernel_6187/929709238.py:8: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(pc.str.contains("Windows"),"Windows-based",
/var/folders/z7/l425_k291q1_z_mxzgktnp700000gn/T/ipykernel_6187/929709238.py:9: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(pc.str.contains("Fedora | Mint | Debian | Other Linux | Linux-based | Windows Subsystem for Linux (WSL)"),"Linux-based",
/var/folders/z7/l425_k291q1_z_mxzgktnp700000gn/T/ipykernel_6187/929709238.py:9: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  pd.np.where(pc.str.contains("Fedora | Mint | Debian | Other Linux | Linux-based | Windows Subsystem for Linux (WSL)"),"Linux-based",
/var/folders/z7/l425_k291q1_z_mxzgktnp700000gn/T/ipykernel_6187/929709238.py:10: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(pc.str.contains("BSD"),"Unix",
/var/folders/z7/l425_k291q1_z_mxzgktnp700000gn/T/ipykernel_6187/929709238.py:11: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(pc.str.contains("Ubuntu"),"Ubuntu",
/var/folders/z7/l425_k291q1_z_mxzgktnp700000gn/T/ipykernel_6187/929709238.py:12: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(pc.str.contains("Other"),"Other",master_df["desktop_OS"]))))))))

In [6]:
master_df.head()

,compensation,year,country,age,gender,IT_experience_in_years,company_size,occupation,proficient_languages,desktop_OS,job_satisfaction,GDP
0,20000-40000,2011,United States,18_to_24,male,2_to_5,below_100,"Executive (VP of Eng, CTO, CIO, etc.)","['JavaScript', 'CSS', 'PHP', 'Python', 'SQL', ...",Windows,5.0,50065.966504
1,80000-100000,2011,United States,18_to_24,male,6_to_10,1000_to_4999,Web Application Developer,"['JavaScript', 'CSS', 'PHP', 'SQL']",Linux,6.0,50065.966504
2,80000-100000,2011,Germany,35_to_44,male,above_11,500_to_999,Desktop Application Developer,['C#'],Windows,6.0,46705.895796
3,60000-80000,2011,United Kingdom,35_to_44,male,above_11,500_to_999,IT Staff / System Administrator,"['SQL', 'C#', 'C++', 'C']",Windows,6.0,42284.884490
4,40000-60000,2011,United Kingdom,25_to_34,female,above_11,below_100,Web Application Developer,"['JavaScript', 'Python', 'SQL', 'C++', 'C', 'P...",Linux,5.0,42284.884490

In [7]:
master_df = master_df[master_df.desktop_OS != "OS_unknwon"]

In [8]:
master_df.to_csv("../../Data/filtered/master-data.csv",index=False)