In [1]:
import pandas as pd
import numpy as np

In [26]:
master_df = pd.read_csv("../../Data/filtered/master-data.csv",sep = ",", encoding = "Latin-1")

In [27]:
master_df.head()

,compensation,year,country,age,gender,IT_experience_in_years,company_size,occupation,proficient_languages,desktop_OS,job_satisfaction,GDP
0,20000-40000,2011,United States,18_to_24,male,2_to_5,below_100,"Executive (VP of Eng, CTO, CIO, etc.)","['JavaScript', 'CSS', 'PHP', 'Python', 'SQL', ...",Windows,5.0,50065.966504
1,80000-100000,2011,United States,18_to_24,male,6_to_10,1000_to_4999,Web Application Developer,"['JavaScript', 'CSS', 'PHP', 'SQL']",Linux,6.0,50065.966504
2,80000-100000,2011,Germany,35_to_44,male,above_11,500_to_999,Desktop Application Developer,['C#'],Windows,6.0,46705.895796
3,60000-80000,2011,United Kingdom,35_to_44,male,above_11,500_to_999,IT Staff / System Administrator,"['SQL', 'C#', 'C++', 'C']",Windows,6.0,42284.884490
4,40000-60000,2011,United Kingdom,25_to_34,female,above_11,below_100,Web Application Developer,"['JavaScript', 'Python', 'SQL', 'C++', 'C', 'P...",Linux,5.0,42284.884490

<!-- normalize  -->

In [28]:
master_df.desktop_OS.unique()

array(['Windows', 'Linux', 'Mac', nan, 'Other', 'Ubuntu', 'Fedora',
       'Mint', 'Debian', 'Unix'], dtype=object)

In [29]:
# normalize desktop OS

pc = master_df.desktop_OS.fillna("OS_unkwown")

master_df["desktop_OS"] = pd.np.where(pc.str.contains("Windows"),"Windows",
                       pd.np.where(pc.str.contains("Linux | Fedora | Mint | Debian | Other Linux | Linux-based | Windows Subsystem for Linux (WSL)"),"Linux",
                       pd.np.where(pc.str.contains("Mac"),"Mac",
                       pd.np.where(pc.str.contains("BSD"),"Unix",
                       pd.np.where(pc.str.contains("Ubuntu"),"Ubuntu",
                       pd.np.where(pc.str.contains("Other"),"Other",pd.np.where(pc.str.contains("nan"),"OS_unknwon",master_df["desktop_OS"])))))))

/var/folders/pp/wgkcdhjs2zl2gjb6v80sf2p80000gn/T/ipykernel_61942/2096150723.py:5: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  master_df["desktop_OS"] = pd.np.where(pc.str.contains("Windows"),"Windows",
/var/folders/pp/wgkcdhjs2zl2gjb6v80sf2p80000gn/T/ipykernel_61942/2096150723.py:6: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(pc.str.contains("Linux | Fedora | Mint | Debian | Other Linux | Linux-based | Windows Subsystem for Linux (WSL)"),"Linux",
/var/folders/pp/wgkcdhjs2zl2gjb6v80sf2p80000gn/T/ipykernel_61942/2096150723.py:6: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  pd.np.where(pc.str.contains("Linux | Fedora | Mint | Debian | Other Linux | Linux-based | Windows Subsystem for Linux (WSL)"),"Linux",
/var/folders/pp/wgkcdhjs2zl2gjb6v80sf2p80000gn/T/ipykernel_61942/2096150723.py:7: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(pc.str.contains("Mac"),"Mac",
/var/folders/pp/wgkcdhjs2zl2gjb6v80sf2p80000gn/T/ipykernel_61942/2096150723.py:8: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(pc.str.contains("BSD"),"Unix",
/var/folders/pp/wgkcdhjs2zl2gjb6v80sf2p80000gn/T/ipykernel_61942/2096150723.py:9: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(pc.str.contains("Ubuntu"),"Ubuntu",
/var/folders/pp/wgkcdhjs2zl2gjb6v80sf2p80000gn/T/ipykernel_61942/2096150723.py:10: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(pc.str.contains("Other"),"Other",pd.np.where(pc.str.contains("nan"),"OS_unknwon",master_df["desktop_OS"])))))))

In [30]:
master_df.desktop_OS.unique()

array(['Windows', 'Linux', 'Mac', nan, 'Other', 'Ubuntu', 'Fedora',
       'Mint', 'Debian', 'Unix'], dtype=object)

In [31]:
master_df["desktop_OS"] = master_df["desktop_OS"].fillna("OS_unknown")

In [32]:
def normalise_desktopos(row):
    desktop_os = row
    if row in ["Linux", "Ubuntu", "Fedora", "Mint", "Debian"]:
        desktop_os="linux"
    elif row in ["Other"]:
        desktop_os="OS_unknown"
    return desktop_os.lower()

In [33]:
master_df["desktop_OS"]=master_df["desktop_OS"].apply(normalise_desktopos)

In [34]:
master_df.desktop_OS.unique()

array(['windows', 'linux', 'mac', 'os_unknown', 'unix'], dtype=object)

In [35]:
master_df.groupby("desktop_OS")["desktop_OS"].count()

desktop_OS
linux          58752
mac            72822
os_unknown      4520
unix             175
windows       120991
Name: desktop_OS, dtype: int64

In [36]:
master_df = master_df[master_df.desktop_OS != "os_unknown"]

In [37]:
master_df.groupby("desktop_OS")["desktop_OS"].count()

desktop_OS
linux       58752
mac         72822
unix          175
windows    120991
Name: desktop_OS, dtype: int64

In [38]:
master_df.to_csv("../../Data/filtered/master-data.csv",index=False)