In [1]:
import pandas as pd
import numpy as np
import math
import random

In [2]:
master_data = pd.read_csv("../../Data/filtered/master-data.csv", sep=",", encoding='Latin-1', low_memory=False)

In [3]:
master_data.head()

,compensation,year,country,age,gender,IT_experience_in_years,company_size,occupation,proficient_languages,desktop_OS,job_satisfaction
0,Student / Unemployed,2011,Africa,below_18,female,<2,below_100,Web Application Developer,['JavaScript'],Linux,FML
1,NaN,2011,Other Europe,25_to_34,male,41310,below_100,Server Programmer,"['SQL', 'C']",Windows 7,So happy it hurts
2,NaN,2011,India,25_to_34,female,41435,500_to_999,Server Programmer,"['JavaScript', 'SQL']",Linux,NaN
3,"$80,000 - $100,000",2011,Other Asia,35_to_44,male,11,below_100,"Executive (VP of Eng, CTO, CIO, etc.)","['JavaScript', 'CSS', 'PHP', 'SQL', 'C++', 'C'...",Linux,It pays the bills
4,NaN,2011,Australia,35_to_44,female,11,below_100,Web Application Developer,"['JavaScript', 'SQL', 'C#']",Windows 7,So happy it hurts

In [4]:
list(master_data["job_satisfaction"].unique())

['FML',
 'So happy it hurts',
 nan,
 'I enjoy going to work',
 'It pays the bills',
 "I'm not happy in my job",
 'Love my job',
 'I wish I had a job!',
 'Its a paycheck',
 'Hate my job',
 "It's a paycheck",
 'unknown',
 '9.0',
 '3.0',
 '8.0',
 '6.0',
 '7.0',
 '5.0',
 '4.0',
 '10.0',
 '2.0',
 '0.0',
 '1.0',
 'Extremely satisfied',
 'Moderately dissatisfied',
 'Moderately satisfied',
 'Neither satisfied nor dissatisfied',
 'Slightly satisfied',
 'Slightly dissatisfied',
 'Extremely dissatisfied',
 'Very satisfied',
 'Very dissatisfied']

In [4]:
#replace values, chose to replace text values with numeric scale where 1 is least satisfied and 10 is most satisfied.
# 0 is denoted for NAN, unknown

master_data['job_satisfaction'] = master_data['job_satisfaction'].replace(['FML',
 'So happy it hurts',
 'nan',
 'I enjoy going to work',
 'It pays the bills',
 "I'm not happy in my job",
 'Love my job',
 'I wish I had a job!',
 'Its a paycheck',
 'Hate my job',
 "It's a paycheck",
 'unknown',
 '9.0',
 '3.0',
 '8.0',
 '6.0',
 '7.0',
 '5.0',
 '4.0',
 '10.0',
 '2.0',
 '0.0',
 '1.0',
 'Extremely satisfied',
 'Moderately dissatisfied',
 'Moderately satisfied',
 'Neither satisfied nor dissatisfied',
 'Slightly satisfied',
 'Slightly dissatisfied',
 'Extremely dissatisfied',
 'Very satisfied',
 'Very dissatisfied'], [1,
8,
0,
6,
5,
3,
7,
0,
4,
2,
4,
0,
9,
3,
8,
6,
7,
5,
4,
10,
2,
0,
1,
9,
3,
7,
5,
6,
4,
1,
8,
2])

In [6]:
#check to see if changes have been applied to job_satisfaction
list(master_data["job_satisfaction"].unique())

[1.0, 8.0, nan, 6.0, 5.0, 3.0, 7.0, 0.0, 4.0, 2.0, 9.0, 10.0]

In [5]:
master_data['job_satisfaction'] = master_data['job_satisfaction'].fillna(0)
list(master_data["job_satisfaction"].unique())

[1.0, 8.0, 0.0, 5.0, 6.0, 3.0, 7.0, 4.0, 2.0, 9.0, 10.0]

In [9]:
master_data.groupby("job_satisfaction")["job_satisfaction"].count()

In [6]:
#write to master data
(
    master_data.to_csv("../../Data/filtered/master-data.csv", index=False)
)