In [1]:
import pandas as pd
import numpy as np
import math
import random

In [2]:
master_data = pd.read_csv("../../Data/filtered/master-data.csv", sep=",", encoding='Latin-1', low_memory=False)

In [3]:
master_data.head()

,compensation,year,country,age,gender,IT_experience_in_years,company_size,occupation,proficient_languages,desktop_OS,job_satisfaction
0,Student / Unemployed,2011,Africa,< 20,Female,<2,Start Up (1-25),Web Application Developer,['JavaScript'],Linux,FML
1,NaN,2011,Other Europe,25-29,Male,41310,Mature Small Business (25-100),Server Programmer,"['SQL', 'C']",Windows 7,So happy it hurts
2,NaN,2011,India,25-29,Female,41435,Mid Sized (100-999),Server Programmer,"['JavaScript', 'SQL']",Linux,NaN
3,Student / Unemployed,2011,Germany,< 20,Female,41310,Student,Student,['Haskell'],Linux,I enjoy going to work
4,"$80,000 - $100,000",2011,Other Asia,35-39,Male,11,Start Up (1-25),"Executive (VP of Eng, CTO, CIO, etc.)","['JavaScript', 'CSS', 'PHP', 'SQL', 'C++', 'C'...",Linux,It pays the bills

In [20]:
list(master_data["proficient_languages"].unique())
test_df = pd.DataFrame(master_data["proficient_languages"].str.split(',', expand=True))
test_df.head()
list(test_df[0].unique())
#new_output = master_data['proficient_languages'].str.split(',', n = 3, expand=True) RECEIVING MEMORY ERROR
#new_ouput = new_output.rename(columns = {0:'lang_1', 1 :'lang_2',2:'lang_3', 3:'lang_drop'}, inplace = True)
#new_output.head()

    
#re.findall(r"'([^']*)'", master) # to also extract empty values
#re.findall(r"'([^']+)'", text) # to only extract non-empty values
#def encode_and_bind(master_data, feature_to_encode):
 #   dummies = pd.get_dummies(master_data[[feature_to_encode]])
  #  res = pd.concat([master_data, dummies], axis=1)
   # return(res)
#encode_and_bind(master_data, 'proficient_languages') ##receiving errors that array is too large

MemoryError: Unable to allocate 85.1 MiB for an array with shape (45, 495587) and data type object

In [5]:
#def convert_to_one_hot2(y):
 # levels=np.unique(y)
  #one_hot=(y==levels).astype("uint8")
  #return one_hot 
#convert_to_one_hot2(master_data['proficient_languages']) # error TypeError: '<' not supported between instances of 'float' and 'str'

In [6]:
#cat_dummy = ['proficient_languages']
#For each column in cat_dummy, create dummy encoding
#for col in cat_dummy:
 #   dummies = pd.get_dummies(master_data, prefix=col, columns=[col], drop_first=True)
  #  cols = len([x for x in df_salary[col].unique() if x==x])-1 #Find columns of interest, ignore NaNs at this stage
   # #Add to final dataframe
    #master_data[dummies.columns[-cols:]] = dummies.iloc[:, -cols:]

#df_final.head()

In [7]:
list[master_data.proficient_languages]
#master_data[['lang_1']] = master_data['proficient_languages'].str.split(n=1, expand=True)
#master_data.head()
#y = pd.get_dummies(master_data.proficient_languages, prefix='Dev_Language')
#print(y.head())
#array is too big; `arr.size * arr.dtype.itemsize` is larger than the maximum possible size.
#parseing to first 3 - 5 languages

TypeError: 'float' object is not iterable