In [1]:
import pandas as pd
import numpy as np
import math
import random

In [2]:
master_data = pd.read_csv("../../Data/filtered/master-data.csv", sep=",", encoding='Latin-1', low_memory=False)

In [3]:
master_data.head()

,compensation,year,country,age,gender,IT_experience_in_years,company_size,occupation,proficient_languages,desktop_OS,job_satisfaction
0,Student / Unemployed,2011,Africa,< 20,Female,<2,Start Up (1-25),Web Application Developer,['JavaScript'],Linux,FML
1,NaN,2011,Other Europe,25-29,Male,41310,Mature Small Business (25-100),Server Programmer,"['SQL', 'C']",Windows 7,So happy it hurts
2,NaN,2011,India,25-29,Female,41435,Mid Sized (100-999),Server Programmer,"['JavaScript', 'SQL']",Linux,NaN
3,Student / Unemployed,2011,Germany,< 20,Female,41310,Student,Student,['Haskell'],Linux,I enjoy going to work
4,"$80,000 - $100,000",2011,Other Asia,35-39,Male,11,Start Up (1-25),"Executive (VP of Eng, CTO, CIO, etc.)","['JavaScript', 'CSS', 'PHP', 'SQL', 'C++', 'C'...",Linux,It pays the bills

In [12]:
def encode_and_bind(master_data, feature_to_encode):
    dummies = pd.get_dummies(master_data[[feature_to_encode]])
    res = pd.concat([master_data, dummies], axis=1)
    return(res)
encode_and_bind(master_data, 'proficient_languages') ##receiving errors that array is too large

ValueError: array is too big; `arr.size * arr.dtype.itemsize` is larger than the maximum possible size.

In [15]:
def convert_to_one_hot2(y):
  levels=np.unique(y)
  one_hot=(y==levels).astype("uint8")
  return one_hot 
convert_to_one_hot2(master_data['proficient_languages'])

TypeError: '<' not supported between instances of 'float' and 'str'